<nav class="navbar navbar-expand-lg navbar-light fixed-top ms-depth-8 ms-fontWeight-semibold ms-fontSize-18 acrylic">
    <div class="container-fluid ">
        <a class = "nav-link nav-item text-dark" href="/index">Victor Crespo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class = "nav navbar-nav">
                {% for entry in site.data.navigation %}
                    {% if entry.url == current_page %}
                    {% assign current = ' class="current"' %}
                {% else %}
                    <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
                    {% assign current = null %}
                {% endif %}
                <li{{ current }} class="nav-item"><a href="{{ site.baseurl }}{{ entry.url }}" class="nav-link">{{ entry.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>