<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <!-- <h1 class="nav-title">VCR</h1> -->
          <!-- <img class="nav-img nav-title" src="assets/vcr.svg" /> -->
          <img class="nav-img nav-title" src="{{ "/assets/vcr.svg" | relative_url }}" />
        </a>
        <ul>
          <li><a href="{{ '/' | prepend: site.baseurl }}">About</a></li>
          <li><a href="{{ '/publications' | prepend: site.baseurl }}/">Publications</a></li>
          <li><a href="{{ '/stuff' | prepend: site.baseurl }}/">Projects and other stuff</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. <a href="https://github.com/kssim/about-portfolio/">A.P</a> theme by kssim. |
        <a href="https://www.iubenda.com/privacy-policy/11780066" class="iubenda-nostyle iubenda-noiframe iubenda-embed iub-legal-only" title="Privacy Policy " target="_blank">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script> | 
        <a href="https://www.iubenda.com/privacy-policy/11780066/cookie-policy" class="iubenda-nostyle iubenda-noiframe iubenda-embed iub-legal-only" title="Cookie Policy " target="_blank">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      </span>
    </footer>
  </body>
</html>
