<head>
    {% include head.html %}
</head>

<body class="ms-Fabric">
    <div>
    {% include header.html %}
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container css-selector">
            <h1 class="ms-fontSize-68">{{ page.author }}</h1>
            <h3>{{ page.phrase }}</h3>
            <br>
            <h1>
                <a href={{ site.github }} target="_blank"><i class="bi bi-github"></i></a>
                <a href={{ site.linkedin }}  target="_blank"><i class="bi bi-linkedin"></i></i></a>
                <a href={{ site.twitter }}  target="_blank"><i class="bi bi-twitter"></i></a>
            </h1>
            <br>
            <a class="btn btn-outline-light btn-lg ms-depth-8" href="#about" role="button">More about me</a>
        </div>
    </div>

    <div class="container-fluid  py-5" id="about">
        <div class="row">
            <div class="col-sm text-center py-3">
                <img class="img-fluid border rounded-circle ms-depth-8" src={{ page.profile_pic }} alt="Profile Picture" width="375" height="375">
            </div>
            <div class="col-sm m-auto ms-fontSize-20 px-sm-5">
                <h1>About me</h1>
                <p>{{ page.about }}</p>
                <a class="btn btn-outline-dark btn-lg ms-depth-4 px-4" href= {{ page.resume }} role="button">Resume</a>
            </div>
        </div>
    </div>

    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <h1>Education</h1>
                <!-- Timeline -->
                <ul class="timeline">
                    <li class="timeline-item ml-3 p-4 ms-depth-4 acrylic">
                        <h2 class="h5 mb-0">Master of Applied Cybernetics</h2>
                        <span class=" h6 text-gray">2020-2021</span>
                        <p class="mb-0 font-weight-light">The Australian National University</p>
                        <p class="mb-0 font-weight-light"><a class="text-reset" href="https://3ainstitute.org/" target="_blank">School of Cybernetics</a></p>
                        <p class="mb-0 font-weight-light">Canberra, Australia</p>
                    </li>
                    <li class="timeline-item ml-3 p-4 ms-depth-4 acrylic">
                        <h2 class="h5 mb-0">Bachelor of Mechatronics Engineering</h2>
                        <span class="h6 text-gray"></i>2009-2014</span>
                        <p class="mb-0 font-weight-light">Tecnológico de Monterrey</p>
                        <p class="mb-0 font-weight-light">Morelos, Mexico</p></li>
                </ul><!-- End -->

            </div>
        </div>
    </div>

    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <h1>Professional Experience</h1>
                <!-- Timeline -->
                <ul class="timeline">
                    <li class="timeline-item ml-3 p-4 ms-depth-4 acrylic">
                        <h2 class="h5 mb-0">Arcus FI</h2>
                        <span class="h6 text-gray">Customer Success Engineer Manager</span><br>
                        <span class="text-gray">2017-2020</span><br>
                        <span class="text-gray">Mexico City, Mexico</span>
                        <p class="mt-2 font-weight-light">Leader of technical support and customer success team for Latin America, in a fintech start-up aiming to become the hub for payments and financial information for banks and card issuers.</p>
                    </li>
                    <li class="timeline-item ml-3 p-4 ms-depth-4 acrylic">
                        <h2 class="h5 mb-0">Resuelve MX</h2>
                        <span class="h6 text-gray">Salesforce Support and Administration Engineer</span><br>
                        <span class="text-gray">2016-2017</span><br>
                        <span class="text-gray">Mexico City, Mexico</span>
                        <p class="mt-2 font-weight-light">Salesforce administrator and tech support for a fintech start-up, helping people to develop a savings plan in order to pay their debts.</p>
                    </li>
                    <li class="timeline-item ml-3 p-4 ms-depth-4 acrylic">
                        <h2 class="h5 mb-0">Microsoft</h2>
                        <span class="h6 text-gray">MS Dynamics Support Engineer</span><br>
                        <span class="text-gray">2014-2016</span><br>
                        <span class="text-gray">Mexico City, Mexico</span>
                        <p class="mt-2 font-weight-light">Support Engineer for Microsoft Dynamics solutions for Latin American Customers. Part of the Microsoft Academy for College Hires (MACH).</p>
                    </li>
                </ul><!-- End -->

            </div>
        </div>
    </div>

    <div class="container container-fluid py-5 text-center ms-fontSize-18">
        {{ content }}
    </div>
    {% include footer.html %}
    </body>